body {
    background-color: rgb(231, 186, 196);
    font-size:50px;
}

select, input, button, div { 
    display: block;
    margin-bottom: 10px;
    font-size:50px;
    border-radius: 10px;
    
}

#resultado {
    display: none;
    background-color: rgb(5, 207, 11);
    padding: 5px 10px 5px 30px;
    width:580px;

}

button {
    background-color: rgb(241, 176, 246);
    padding: 10px;
    border-color: pink;
}
