body {
    background-color: rgb(231, 186, 196);
}

.titulo {
    font-size: 50px;
    color: rgb(71, 8, 178);
    text-align: center;
    font: verdana;
    padding: 20px;
    border: 3px solid rgb(170, 73, 142);
    font-style: oblique;
    text-decoration: underline rgb(168, 87, 145) double;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(247, 241, 241), 0 0 25px rgb(231, 162, 224), 0 0 5px
}

#paragrafo {
    font-family: verdana;
    font-size: 25px;
    color: brown;
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
    text-transform: capitalize;
}

.texto {
    font-size: 25px;
    color: rgb(9, 9, 90);
    font-style: italic;
    text-align: center;
    width: 60%;
    margin: 0 auto;

}

.versiculo {
    background-color: rgb(207, 127, 184);
    color: white;
    border: 2px solid rgb(152, 98, 141);
    margin: 20px;
    padding: 20px;
    font-style: italic;
    font-size: 25px;
 
    
}

.button-proxima {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin: 300px;
}
